.page-login {
background-color: #99e68f;
}

.login-box{
  background-color: #99e68f;
}

.GFClogo{
  height: 250px;
  width: 250px;
  padding-left: 25%;
  padding-top: 20px;
}

.login-button{
  padding-left: 35%;
  padding-right: auto;
}
