.page-redhook-farm{
  background: #99e68f;
}

.Redhook-info{
  padding: 10px 10px 10px 10px;
  margin-top: 25px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1.5px solid;
  border-radius: 15px;
  background-color: #ffffff;
}
